@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer local


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@local["welcome"]</h1>
    <p>Локализацияланған қолданба</p>
</div>
